html, body {
    height: 100%;
    background-color: #f0f0f0;
    font-family: monospace;
}
body {
    display: flex;
    flex-direction: column;
}
#wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#content {
    flex: 1;
}

#adminButton {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 1.2em;
}


.box {
    border: 0.1em solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.15s;
    position: relative;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
}

.verified-icon {
    position: absolute;
    top: 0em; /* Adjust as needed */
    right: 0em; /* Adjust as needed */
    font-size: 24px; /* Adjust size as needed */
    color: #888;
}

.box .box-description {
    font-size: 1.2em;
    line-height: 1.2em;
}

#budget-definition {
    margin-left: 15em
}

.plain-button {
    all: unset;
}
.plain-button:focus {
    outline: revert;
}

#loginButton {
    margin-left: 6.9em;
}

button[type="submit"] {
    font-size: 1.1em;
}

/* --------------- */
/* Phase 0 = Budget */
.bi-chevron-compact-up, .bi-chevron-compact-down {
    font-size: 1.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0.2em 0.2em 0.3em 0em;
}

.inputText {
    font-size: 1.2em;
    border: 0em solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0.2em 0.2em 0.3em 0em;
}


/* --------------- */
/* Phase 3 = Final */


#final :nth-child(1) .box.approved {
    background-color: rgb(243, 240, 223);
    border: rgb(245, 209, 0) 0.2em solid;
    color: rgb(202, 172, 0);
    i {
        color: rgb(245, 209, 0);
    }
}
#final :nth-child(2) .box.approved {
    background-color: rgb(245, 245, 245);
    border: silver 0.2em solid;
    color: #888;
    i {
        color: silver;
    }
}
#final :nth-child(3) .box.approved {
    background-color: rgb(248, 240, 232);
    border: #CD7F32 0.2em solid;
    color: #CD7F32;
    i {
        color: #CD7F32;
    }
}

.box {
    background-color: rgb(245, 245, 245);
    color: #888;
    border: #aaaa 0.1em solid;
}
.box.approved {
    color: #222;
    background-color: rgb(245, 245, 245);
    border: 0.15em solid #aaa;
}


/* Footer */
